* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  direction: rtl;
  font-family: yekan1;
}
@font-face {
  font-family: yekan1;
  src: url(../font/IRANYekanMedium.woff2);
}
/*دکمه بالا*/
#top {
  border: unset;
  padding: 7px;
  border: solid 1px black;
  border-radius: 3px;
  background-color: #dfdada;
  position: fixed;
  left: 50px;
  bottom: 15px;
  display: none;
  z-index: 1;
}
/*جستجوی کامپیوتر*/
.search1 {
  width: 100%;
  height: 100vh;
  position: absolute;
  background-color: #1c1c1ccd;
  z-index: 999;
  display: none;
}
.search2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #3b3a3a;
  border-radius: 5px;
  width: 400px;
  border: unset;
  height: 50px;
  padding-right: 20px;
  color: white;
}
.close {
  background-color: #423e3e38;
  border: unset;
  position: absolute;
  left: 0;
  margin: 20px;
  color: white;
  font-size: x-large;
  cursor: pointer;
}
/*جستجوی موبایل*/
.search4 {
  width: 100vh;
  height: 100vh;
  position: fixed;
  background-color: #1c1c1ccd;
  z-index: 999;
  display: none;
}
.search5 {
  position: absolute;
  top: 20%;
  left: 55%;
  background-color: #3b3a3a;
  border-radius: 5px;
  width: 200px;
  border: unset;
  height: 50px;
  color: white;
  text-align: center;
  z-index: 999;
}
.clos {
  background-color: #423e3e38;
  border: unset;
  color: white;
  right: 42%;
  font-size: x-large;
  top: 1%;
  cursor: pointer;
  position: absolute;
}
/*هدر*/
.heder2 {
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: white;
}

.heder {
  width: 100%;
  height: 62px;
  background-color: #f6f6f8;
  align-content: center;
}
.telegram > img {
  width: 25px;
  height: 25px;
}
.watsap {
  width: 35px;
  height: 35px;
}
.tel {
  width: 28px;
  height: 28px;
}
.heder1 {
  align-items: center;
}
.ghey {
  right: 40%;
  top: 30%;
  font-size: smaller;
}
.spa {
  color: rgb(255, 0, 0);
  font-size: small;
}
.pw {
  padding-top: 8px;
  cursor: pointer;
}
.pv {
  cursor: pointer;
}
/* منو همبرگری*/
.ham1 {
  border: unset;
  background-color: white;
}
.list1 {
  background-color: white;
  position: fixed;
  top: 0;
  z-index: 1;
  width: 40vh;
  right: 0;
  display: none;
}
.g1 {
  width: 40vh;
  background-color: black;
  color: white;
  align-items: center;
}
.close10 {
  background-color: rgba(0, 0, 0, 0);
  border: unset;
  color: white;
  padding: 15px;
  font-size: x-large;
}
.g2 {
  cursor: pointer;
  color: black;
}
.opa {
  opacity: 1 !important;
  z-index: 1;
  height: inherit !important;
}
.open1 {
  background-color: white;
  font-size: large;
  border: unset;
}
.list2 {
  width: 30vh;
  color: #656565;
  opacity: 0;
  height: 0;
}

.open2 {
  background-color: white;
  font-size: large;
  border: unset;
}
.list3 {
  width: 30vh;
  color: #656565;
  opacity: 0;
  height: 0;
}
.open3 {
  background-color: white;
  font-size: large;
  border: unset;
}
.list4 {
  width: 30vh;
  color: #656565;
  opacity: 0;
  height: 0;
}

.open4 {
  background-color: white;
  font-size: large;
  border: unset;
}
.list5 {
  width: 30vh;
  color: #656565;
  opacity: 0;
  height: 0;
}
.open5 {
  background-color: white;
  font-size: large;
  border: unset;
}
.list6 {
  width: 30vh;
  color: #656565;
  opacity: 0;
  height: 0;
}

.open6 {
  background-color: white;
  font-size: large;
  border: unset;
}
.list7 {
  width: 30vh;
  color: #656565;
  opacity: 0;
  height: 0;
}

.list6 > p {
  color: #656565;
  font-size: small;
}
.list5 > p {
  color: #656565;
  font-size: small;
}
.list4 > p {
  color: #656565;
  font-size: small;
}
.list3 > p {
  color: #656565;
  font-size: small;
}
.list7 > p {
  color: #656565;
  font-size: small;
}
.list2 > p {
  color: #656565;
  font-size: small;
}
.ham {
  opacity: 0;
}

.meno3 {
  position: relative;
  width: 10px;
  height: 10px;
  color: black;
}

.meno3 span {
  position: absolute;
  width: 10px;
  height: 1px;
  background-color: black;
  left: 50%;
  top: 50%;
  transform-origin: center;
  transform: translate(-50%, -50%);
  color: black;
}

span#vertical {
  transform: translate(-50%, -50%) rotate(90deg);
}
span#vertica2 {
  transform: translate(-50%, -50%) rotate(90deg);
}
span#vertica3 {
  transform: translate(-50%, -50%) rotate(90deg);
}
span#vertica4 {
  transform: translate(-50%, -50%) rotate(90deg);
}
span#vertica5 {
  transform: translate(-50%, -50%) rotate(90deg);
}
span#vertica6 {
  transform: translate(-50%, -50%) rotate(90deg);
}
span.hide {
  transform: translate(-50%, -50%) rotate(0) !important;
}
/*منوی اصلی*/

.li > a {
  text-decoration: none;
  color: #3b3a3a;
  font-size: 13px;
  transition: all 300ms linear;
}
.li {
  list-style: none;
}

.navbar-brand > img {
  width: 80px;
  height: 80px;
}

li:hover a {
  color: blue;
}

.active {
  color: blue !important;
}
.li:hover > .ka {
  opacity: 1;
}

/*ساب منو*/
.ka {
  z-index: 1;
  background-color: rgba(255, 255, 255, 0.91);
  transition: all 300ms linear;
  width: 200px;
  border-radius: 5px;
  opacity: 0;
  border: 1px groove rgb(131, 130, 130);
  margin-top: 10px;
}

.ka > p {
  cursor: pointer;
  color: #3b3a3a;
  font-size: small;
  padding: 2px 15px;
}

.ood {
  z-index: 1;
  background-color: rgba(255, 255, 255, 0.91);
  transition: all 300ms linear;
  width: 200px;
  border-radius: 5px;
  opacity: 0;
  border: 1px groove rgb(131, 130, 130);
  margin-top: 10px;
}
.ood > p {
  cursor: pointer;
  color: #3b3a3a;
  font-size: small;
  padding: 2px 15px;
}
.li:hover > .ood {
  opacity: 1;
}

.back {
  z-index: 1;
  background-color: rgba(255, 255, 255, 0.91);
  transition: all 300ms linear;
  width: 200px;
  border-radius: 5px;
  opacity: 0;
  border: 1px groove rgb(131, 130, 130);
  margin-top: 10px;
}
.back > p {
  cursor: pointer;
  color: #3b3a3a;
  font-size: small;
  padding: 2px 15px;
}
.li:hover > .back {
  opacity: 1;
}
.dec {
  z-index: 1;
  background-color: rgba(255, 255, 255, 0.91);
  transition: all 300ms linear;
  width: 200px;
  border-radius: 5px;
  opacity: 0;
  border: 1px groove rgb(131, 130, 130);
  margin-top: 10px;
}
.dec > p {
  cursor: pointer;
  color: #3b3a3a;
  font-size: small;
  padding: 2px 15px;
}
.li:hover > .dec {
  opacity: 1;
}
.posh {
  z-index: 1;
  background-color: rgba(255, 255, 255, 0.91);
  transition: all 300ms linear;
  width: 200px;
  border-radius: 5px;
  opacity: 0;
  border: 1px groove rgb(131, 130, 130);
  margin-top: 10px;
}
.posh > p {
  cursor: pointer;
  color: #3b3a3a;
  font-size: small;
  padding: 2px 15px;
}
.li:hover > .posh {
  opacity: 1;
}

.ziv {
  z-index: 1;
  background-color: rgba(255, 255, 255, 0.91);
  transition: all 300ms linear;
  width: 200px;

  border-radius: 5px;
  opacity: 0;
  border: 1px groove rgb(131, 130, 130);
  margin-top: 10px;
}
.ziv > p {
  cursor: pointer;
  color: #3b3a3a;
  font-size: small;
  padding: 2px 15px;
}
.li:hover > .ziv {
  opacity: 1;
}

/*آیکون منو*/
.search {
  padding-right: 150px;
  padding-top: 33px;
}
.s4 {
  cursor: pointer;
  border: unset;
  background-color: white;
}
.s1 {
  cursor: pointer;
  border: unset;
  background-color: white;
}
/*نوار لینک*/
.item2 {
  background-color: #f6f6f8;
  color: #7a7777;
  font-size: small;
}
/*عکس محصول*/
.ax1 {
  width: 400px;
  height: 400px;
}
.ax2 {
  width: 80px;
  height: 80px;
}
/*توضیحات محصول*/
.gh1 {
  color: #7a7777;
  text-decoration: line-through;
}
.gh2 {
  color: rgb(255, 55, 55);
}
.gh3 {
  color: #7a7777;
}
.gh5 {
  color: #7a7777;
  font-size: smaller;
  padding-top: 10px;
}

.gh4 {
  color: #2f2f2f;
  font-size: smaller;
  text-decoration: none;
}
.gh4:hover {
  color: blue;
}
.sb {
  width: 115px;
  height: 40px;
  border-radius: 50px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border: 1px solid black;
}

.jam {
  cursor: pointer;
  font-size: large;
  margin-bottom: 0;
}

.adad {
  font-size: large;
  margin-bottom: 0;
}

.kam {
  cursor: pointer;
  font-size: x-large;
  margin-bottom: 0;
}

.sb1 {
  width: 170px;
  height: 40px;
  border-radius: 50px;
  background-color: #56cfe1;
  color: white;
  margin-right: 15px;
}
/*پرداخت*/
.par {
  width: 200vh;
  height: 150vh;
  background-color: #4c4c4cad;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: all 300ms linear;
  display: none;
  z-index: 1;
}
.pardekht {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(255, 255, 255);
  padding-bottom: 40px;
}
.close1 {
  border: unset;
  font-size: x-large;
  background-color: white;
  color: red;
  padding: 3px;
  cursor: pointer;
}
.ax3 {
  width: 80px;
  height: 80px;
}

.sefaresh {
  width: 100%;
  border-bottom: 1px groove rgb(165, 165, 165);
}

.sefaresh2 {
  width: 100%;
  border-bottom: 1px groove rgb(165, 165, 165);
  height: 120px;
}
.edeme {
  height: 40px;
  padding: 5px;
  transition: all 300ms linear;
  cursor: pointer;
  border-radius: 20px;
}
.edeme:hover {
  background-color: #56cfe1;
  color: white;
}
.sefaresh1 {
  width: 40%;
}
.sefaresh1 > p {
  font-size: small;
}
.adad1 {
  border: 1px groove rgb(49, 49, 49);
  height: 30px;
  width: 70px;
}
#plus1 {
  border-left: 1px groove rgb(49, 49, 49);
  height: 30px;
  width: 15px;
  cursor: pointer;
}
.minus1 {
  border-right: 1px groove rgb(76, 76, 76);
  height: 30px;
  width: 15px;
  cursor: pointer;
}
.zobale {
  border: unset;
  background-color: white;
}
.edeme1 {
  padding: 8px 5px;
  border-radius: 30px;
  background-color: #56cfe1;
  color: white;
  transition: all 300ms linear;
  cursor: pointer;
}
.edeme1:hover {
  background-color: #1c1c1c;
}
.sefaresh3 {
  width: 100%;
  border-bottom: 1px groove rgb(165, 165, 165);
  height: 70px;
  text-align: center;
  align-items: center;
}
.mahsol {
  width: 150px;
  align-items: center;
}
.mahsol > img {
  width: 150px;
  height: 150px;
}
.mahsol > a {
  text-decoration: none;
  font-size: small;
  text-align: center;
  color: black;
  transition: all 300ms linear;
  cursor: pointer;
}

.mahsol > a:hover {
  color: #56cfe1;
}
.mahsol > button {
  border-radius: 30px;
  width: 120px;
  font-size: small;
  height: 30px;
  transition: all 300ms linear;
  cursor: pointer;
}
.mahsol > button:hover {
  background-color: #56cfe1;
  color: white;
}
/*سبد خرید موبایل*/
.par1 {
  width: 50vh;
  height: 100vh;
  background-color: #4c4c4cad;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: all 300ms linear;
  z-index: 1;
  display: none;
}
.pardekht1 {
  width: 400px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(255, 255, 255);
  padding-bottom: 40px;
}
.close2 {
  border: unset;
  font-size: x-large;
  background-color: white;
  color: red;
  padding: 3px;
  cursor: pointer;
}
.ax13 {
  width: 60px;
  height: 60px;
}

.sefares {
  width: 100%;
  border-bottom: 1px groove rgb(165, 165, 165);
}

.sefares2 {
  width: 100%;
  border-bottom: 1px groove rgb(165, 165, 165);
}
.matn {
  font-size: x-small;
}
.edeme {
  height: 40px;
  padding: 5px;
  transition: all 300ms linear;
  cursor: pointer;
  border-radius: 20px;
}
.edeme:hover {
  background-color: #56cfe1;
  color: white;
}

.adad2 {
  border: 1px groove rgb(49, 49, 49);
  height: 30px;
  width: 70px;
}
#plus2 {
  border-left: 1px groove rgb(49, 49, 49);
  height: 30px;
  width: 15px;
  cursor: pointer;
}
.minus2 {
  border-right: 1px groove rgb(76, 76, 76);
  height: 30px;
  width: 15px;
  cursor: pointer;
}
.zobale {
  border: unset;
  background-color: white;
}
.edeme1 {
  padding: 8px 5px;
  border-radius: 30px;
  background-color: #56cfe1;
  color: white;
  transition: all 300ms linear;
  cursor: pointer;
}
.edeme1:hover {
  background-color: #1c1c1c;
}
.sefaresh3 {
  width: 100%;
  border-bottom: 1px groove rgb(165, 165, 165);
  height: 70px;
  text-align: center;
  align-items: center;
}
.mahsol1 {
  width: 150px;
  align-items: center;
}
.mahsol1 > img {
  width: 150px;
  height: 150px;
}
.mahsol1 > a {
  text-decoration: none;
  font-size: small;
  text-align: center;
  color: black;
  transition: all 300ms linear;
  cursor: pointer;
}

.mahsol1 > a:hover {
  color: #56cfe1;
}
.mahsol1 > button {
  border-radius: 30px;
  width: 120px;
  font-size: small;
  height: 30px;
  transition: all 300ms linear;
  cursor: pointer;
}
.mahsol1 > button:hover {
  background-color: #56cfe1;
  color: white;
}
/*توضیحات بیشتر*/
.to1 {
  border: unset;
  background-color: white;
  color: #7a7777;
  padding: 8px;
  cursor: pointer;
}
.to2 {
  border: unset;
  background-color: white;
  margin-right: 35px;
  color: #7a7777;
  padding: 8px;
  cursor: pointer;
}
.active1 {
  border: 0.5px solid black;
  border-radius: 50px;
  color: black !important;
}
.hide {
  display: none !important;
}
.to3 > img {
  width: 650px;
  height: 400px;
}
.to4 {
  border: 1px groove black;
  width: 350px;
  height: 135px;
  margin: 0 auto;
}

.r1 {
  width: 100%;
  height: 45px;
  border-bottom: 1px solid black;
}
.r2 {
  width: 100%;
  height: 45px;
  border-bottom: 1px solid black;
}
.r3 {
  width: 100%;
  height: 45px;
}

.b1 {
  width: 30%;
  height: 45px;
  border-left: 1px solid black;
  text-align: center;
  padding-top: 13px;
}
/*محصولات مرتبط*/
.test {
  position: relative;
}
.test::before {
  display: block;
  content: " ";
  width: 80px;
  height: 3px;
  background-color: #1c1c1c;
  position: absolute;
  top: 58%;
  left: 56%;
  transform: translate(75%, 75%);
}
.test::after {
  display: block;
  content: " ";
  width: 80px;
  height: 3px;
  background-color: #1c1c1c;
  position: absolute;
  top: 66%;
  right: 56%;
  transform: translate(-75%, -75%);
}
.box4 {
  margin-top: 80px;
}
.box5 {
  width: 220px;
  height: 320px;
  border-radius: 10px;
}
.box6 {
  background-color: #cccaca;
}
.sabad1 {
  text-align: center;
  position: absolute;
  top: 125px;
  right: 40px;
  background-color: white;
  border-radius: 25px;
  padding: 5px 10px;
  opacity: 0;
  transition: all 700ms linear;
  background-color: rgb(198, 225, 216);
}
.ax8:hover ~ .sabad1 {
  opacity: 1;
  z-index: 1;
}
.haraj {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #fe9931;
  width: 45px;
  color: white;
  padding: 3px;
  text-align: center;
  font-family: yekan1;
}

.m2 {
  text-decoration: line-through;
  color: rgb(92, 91, 91);
  padding-top: 10px;
  text-align: center;
  font-size: small;
}
.m3 {
  color: rgb(236, 64, 64);
  text-align: center;
  padding-bottom: 20px;
}
.ax8 {
  width: 220px;
  height: 185px;
  position: absolute;
  transition: all 300ms linear;
  opacity: 0;
  top: 0;
  transition: all 300ms linear;
}
.ax8:hover {
  opacity: 1;
}

.ax7 {
  width: 220px;
  height: 180px;
}
.m1 {
  text-decoration: none;
  color: black;
  font-size: small;
  padding-top: 20px;
  padding: 5px 5px;
  text-align: center;
}

/*روش ارسال*/
.box7 * img {
  width: 50px;
  height: 50px;
}
.box8 {
  align-items: center;
  line-height: 35px;
}
.box8 > p {
  font-size: 12px;
  color: #7a7777;
}
.box8 > h6 {
  padding-top: 10px;
}
/*فوتر*/
.box3 img {
  width: 40px;
  height: 40px;
  text-align: center;
}
.box3 p {
  cursor: pointer;
}
.box9 img {
  width: 160px;
  height: 60px;
  text-align: center;
}
.box10 {
  padding: 30px 30px;
  align-items: center;
}
.box11 {
  width: 200px;
}
.box11 img {
  width: 150px;
  height: 40px;
}
.box12 {
  width: 200px;
}
.box12 > a {
  text-decoration: none;
  color: #a5a3a3;
  font-size: smaller;
}
.box12 > a:hover {
  color: rgb(85, 57, 136);
}
.box13 {
  background-color: #f6f6f8;
  align-items: center;
  align-content: center;
  text-align: center;
}
.box14 a {
  text-decoration: none;
  color: #7a7777;
}
.hogh {
  color: #7a7777;
}
.box14 a:hover {
  color: rgb(85, 57, 136);
}

@media (max-width: 1400px) and (min-width: 992px) {
  .li > a {
    font-size: 8px;
  }
  .search {
    padding-right: 50px;
  }
}
@media (max-width: 992px) and (min-width: 775px) {
  .heder2 {
    position: static;
    top: 0;
    z-index: 1;
    background-color: white;
  }
  .ham {
    opacity: 1;
  }
  .meno {
    display: none;
  }
  .ghey {
    display: none;
  }
  .box15 {
    display: none;
  }
  .box15 {
    font-size: x-large;
  }
  .hogh {
    font-size: x-large;
  }
  .hright {
    justify-content: center;
  }
  .heder {
    align-content: center;
  }
  .search {
    margin-right: 320px;
    padding-top: 10px;
  }
  .navbar-brand {
    position: absolute;
    right: 45%;
  }
  .telegram {
    padding-top: 5px;
  }
}
@media (max-width: 775px) and (min-width: 716px) {
  .heder2 {
    position: static;
    top: 0;
    z-index: 1;
    background-color: white;
  }
  .ham {
    opacity: 1;
  }
  .hright {
    justify-content: center;
    font-size: x-small;
  }
  .meno {
    display: none;
  }
  .heder {
    align-content: center;
  }
  .search {
    margin-right: 160px;
    padding-top: 10px;
  }
  .navbar-brand {
    position: absolute;
    right: 45%;
  }
  .ghey {
    display: none;
  }

  .telegram {
    padding-top: 5px;
  }
  .s1 {
    display: none;
  }
  .s2 {
    display: none;
  }
  .s3 {
    display: none;
  }
}

@media (max-width: 716px) and (min-width: 525px) {
  .heder2 {
    position: static;
    top: 0;
    z-index: 1;
    background-color: white;
  }
  .ham {
    opacity: 1;
  }
  .search {
    padding-top: 10px;
    margin-right: 230px;
  }
  .meno {
    display: none;
  }
  .box15 {
    font-size: small;
  }
  .hogh {
    font-size: small;
  }
  .hright {
    justify-content: center;
    font-size: x-small;
  }
  .heder {
    align-content: center;
  }
  .navbar-brand {
    position: absolute;
    right: 45%;
  }
  .ghey {
    display: none;
  }
  .s1 {
    display: none;
  }
  .s2 {
    display: none;
  }
  .s3 {
    display: none;
  }
  .telegram {
    padding-top: 5px;
  }
}
@media (max-width: 525px) and (min-width: 10px) {
  .ham {
    opacity: 1;
  }
  .ax1 {
    width: 350px;
    height: 350px;
  }
  .ax2 {
    width: 75px;
    height: 80px;
  }
  .heder2 {
    position: static;
    top: 0;
    z-index: 1;
    background-color: white;
  }

  .hright {
    justify-content: center;
    font-size: x-small;
  }
  .meno {
    display: none;
  }
  .box15 {
    font-size: x-small;
  }
  .hogh {
    font-size: x-small;
  }
  .heder {
    align-content: center;
  }
  .s1 {
    display: none;
  }
  .s2 {
    display: none;
  }
  .s3 {
    display: none;
  }
  .ghey {
    display: none;
  }
  .search {
    padding-top: 20px;
    margin-right: 70px;
  }
  .navbar-brand {
    position: absolute;
    right: 43%;
  }
  .telegram {
    padding-top: 5px;
  }
}
